<form>
    <fieldset>
        <legend>Apply For Job</legend>
        <div class="form-group row">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="formFile" class="form-label mt-4">Upload Your Adhar Card</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <fieldset class="form-group">
            <legend class="mt-4">Select Gender</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                <label class="form-check-label" for="optionsRadios1">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <label class="form-check-label" for="optionsRadios2">
                    Female
                </label>
            </div>
            <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                <label class="form-check-label" for="optionsRadios3">
                    Choose not to state
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="mt-4">Can we Share your Details with hirer</legend>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                <label class="form-check-label" for="flexCheckChecked">
                No
                </label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </fieldset>
</form>